# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
logs/
*.env
!.env.example
*.egg-info/
*.egg
*.log

# Build output
dist/
build/

# OS files
Thumbs.db
.DS_Store

# IDEs and editors
.vscode/
.cursor/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.bak
*.swp
*.tmp
*workspace*

# Node.js
node_modules/
.npm/

# Claude Code
.claude
CLAUDE.md
